@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans:ital,wght@1,700&family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    overflow-x: hidden ;
    overflow-y: scroll;
}

.nav{
background-color: black;
height: 5em;
}

nav ul{
   display: flex;
   padding: 2em;
   list-style: none;
   justify-content: right;
}

nav ul li{
    margin: 1em;
    color: white;
    background-color: ;
    font-size: 1.1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
}

a:hover{
    color: #38a422;
}

#mainCon1{
    text-align: center;
    background-color: black;
    height: 70vh;
}


.first{
  color: aliceblue;
  padding-top: 3.5rem ;
  font-size: 4rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.second{
  color: #38a422;
  padding-top: 0.5rem ;
  font-size: 4rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.third{
  color: aliceblue;
  padding-top: 1.5rem ;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif; 
}

#mainCon2{
    padding-top: 10%;
    display: flex;
    padding: 6rem;
    background-color: rgb(10, 10, 10);
}

.aboutMe{
    margin-left: 35%;
    color: white;
    
}

.aboutMe h2{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #38a422;
    margin-top: 1%;
}

.aboutMe h4{
    margin-top: 4.5%;
    margin-bottom: 3%;
    font-size: 1.5rem;
    font-family:'Poppins', sans-serif;
}

.aboutMe p{
    font-size: 1.02rem;
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
    margin-bottom: 1%;
    /* margin-left: -5%; */
}

.imgArea img{
    margin-top: 2%;
    margin-left: 10%;
    height: 20rem;
    width: auto;
}

#mainCon3{
    display: flex;
    color: white;
    background-color: black;
    font-size: 1.5rem;
    margin-left: -3%;
    font-family: 'Poppins', sans-serif;
}

.service{
    padding: 7.5rem;
}

.service p{
    font-size: 1.03rem;
    text-align: left;
    padding-right: 36%;
    margin-top: 3%;
    text-justify:auto;
}

.blocks{
    padding: 11rem;
    margin-top: -1.5%;
}

.blocks h1{
    font-size: 1.55rem;
    margin-left: -17.5rem;
    line-height: 160%;
}

.one, .two, .three, .four{
    text-align: center;
    border: solid beige 0.1rem;
}

.two,.four{
    color: #38a422;
    padding: 10%;
}

#mainCon4{
    display: flex;
    background-color: rgb(10, 10, 10);
    color: white;
    height: 120vh;
}

.image img{
    min-height: 15vh;
    width: 25vw;
    margin-top: 30%;
    margin-left: 6%;
    padding: 18%;
}

.info{
    margin-left: 30%;
    margin-top: 8%;
}

.info h1{
    padding: 8%;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: #38a422;
    margin-bottom: -4%;
}

.info p{
    font-size: 1.03rem;
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
    padding-right: 13%;
    text-justify: distribute-all-lines;
}

.info h2{
    font-family: 'Fira Sans', sans-serif;
    padding: 1rem;
    margin-top: 4%;
    font-weight: bolder;
}

#para{
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
}

.head{
    font-family: 'Fira Sans', sans-serif;
    padding: 0.5rem;
    margin-top: 3%;
    font-weight: bolder;
}

#para1{
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
}

#mainCon5{
    padding: 4.5%;
    background-color: black;
}

#mainCon5 h2{
    margin-top: 3%;
    margin-bottom: 2%;
    color: white;
    font-size: 2.2rem;
    color: #38a422;
    font-family: 'Fira Sans', sans-serif;;
}

.certified1{
    display: flex;
    padding: 4%;
}

.cer1 img{
margin-top: 2%;
margin-left: 3%;
height: 90%;
width: 203%;
border: 1px solid black;
}

.cer1description{
margin-left: 35%;
padding: 3%;
font-size: 1.1rem;
color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 140%;
border: 1.5px solid #38a422;
border-radius: 2.5%;
margin-bottom: 8%;
margin-top: 2.5%;
}

.certified2{
    display: flex;
    padding: 4%;
}

.cer2 img{
margin-top: 5%;
margin-left: 3%;
height: 90%;
width: 212%;
}

.cer2description{
margin-left: 35.5%;
padding: 3%;
font-size: 1.1rem;
color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 140%;
border: 1.5px solid #38a422;
border-radius: 2.5%;
margin-top: 2.5%;
margin-bottom: 8%;
}

.certified3{
    display: flex;
    padding: 4%;
}

.cer3 img{
margin-top: 4%;
margin-left: 3%;
height: 85%;
width: 270%;
border: 1px solid black;
}

.cer3description{
margin-left: 39%;
margin-bottom: 8%;
margin-top: 2.5%;
padding: 3%;
font-size: 1.1rem;
color: white;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 140%;
border: 1.5px solid #38a422;
border-radius: 2.5%;
text-justify:inter-word;
}

.copyright{
    padding: 1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

.copyright span{
    margin-left: 3%;
}



